function aliases() {
  local aliases_root=/Users/gersom/Projects/zsh-aliases
  code $aliases_root/.aliases
  read "?⏳ Press enter when finished editing..."
  source $aliases_root/.aliases
  echo "✅ Loaded the changes"
  if read -q "?🕵️  Are the changes working as expected? (y/n)"; then
    echo "\n⤴️ Storing changes in git"
    git -C $aliases_root add .
    git -C $aliases_root commit -m "Automatically committed changes"
    git -C $aliases_root push
    echo "🆗 Finished!"
  else
    echo
    aliases
  fi
}

alias cdns='sudo killall -HUP mDNSResponder'
alias gitlog='git log --all --decorate --oneline --graph'
alias adbr='adb reverse tcp:8081 tcp:8081;echo "You react native android app should be connected to the packager now."'
alias hosts='code /etc/hosts'
alias comp='docker-compose'

alias pgstart='pg_ctl -D /usr/local/var/postgres start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop'
function pgcreate {
  psql -c "create database $1;"
}
function pgdrop {
  psql -c "drop database $1;"
}